{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_6.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Wishlist</h1>
			<a href="{% url 'generate_invoice_pdf' payment_id=payment.id %}" target="_blank">Generate Invoice</a>

          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
					<!-- <form action="razorpay_payment" class="cart-form" method="POST">  -->
						<!-- <form class="cart-form"> -->
						<!-- {% csrf_token %} -->
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
								
						      </tr>
						    </thead>
						    <tbody>
								<!-- <h1>{{ t  }}{{ cn  }}</h1> -->
								{% for i in ci %}
						      <tr class="text-center">
						        <td class="product-remove"><a href="{% url 'cart_delete' i.product.id %}"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url({{i.product.image.url}});"></div></td>
						        
						        <td class="product-name">
						        	{{i.product.description}}
						        </td>
								
						        
						        <td class="price">{{i.product.price}}</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
										<!-- <i class="fa-solid fa-plus"></i> -->
									<a href="{% url 'addcart' i.product.id %}">
									<button type="button" style="height:10px;width: 50px;">+</button></a>
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="{{i.quantity}}" min="1" max="100">
									 <a href="{% url 'min_cart' i.product.id %}"> 
									<button type="button" style="height:10px;width: 50px;">-</button>
									</a>
									
					          </td>
						        
						        <td class="total">{{i.total}}</td>
								
						      </tr>
							  {% endfor %}<!-- END TR-->

						      <!-- <tr class="text-center">
						        <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url({% static 'images/product-4.jpg' %});"></div></td>
						        
						        <td class="product-name">
						        	<h3>Nike Free RN 2019 iD</h3>
						        	<p>Far far away, behind the word mountains, far from the countries</p>
						        </td>
						        
						        <td class="price">$15.70</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
					          	</div>
					          </td>
						        
						        <td class="total">$15.70</td>
						      </tr>END TR -->
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-start">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Subtotal</span>
    						<span>{{t}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Total Quantity</span>
    						<span>{{cn}}</span>
    					</p>
    					<p class="d-flex">
    						<span>Discount</span>
    						<span>{{da}}</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
							
    						<span>{{dr}}</span>
    					</p>
    				</div>
    				<!-- <p class="text-center"><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p> -->
    			    <p class="text-center"> 
						<a href="{% url 'checkout' %}?cn={{ cn }}&da={{ da }}&dt={{ dt }}&t={{ t }}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a>
					 </p>
					
					<button id="rzp-button1" class="btn btn-primary py-3 px-4">Payment Online</button>
				</form>
				</div>
    		</div>
			</div>
			 <!-- Razorpay's Javascript code. -->
  
		</section>
		<!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_NZRDzRyrzt5G15", // Enter your Razorpay API key
    "amount": "{{ dt }}", // Amount should be in the smallest currency unit
    "currency": "INR",
    "name": "Express Logistics", // Replace with your business name
    "description": "Test Transaction",
    "image": "{% static 'images/logo.jpg' %}", // Replace with your business logo URL
    "order_id": "{{ razorpay_order_id }}", // Replace with your actual order ID
    "handler": function (response) {
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature);
    },
    "prefill": {
        "name": "Bincy Satheesh", // Replace with customer's name
        "email": "info@expresslogistics.com", // Replace with customer's email
        "contact": "9000090000", // Replace with customer's phone number
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc" // Replace with your preferred color
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function (e) {
    rzp1.open();
    e.preventDefault();
}
</script> -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
var options = {
    "key": "rzp_test_NZRDzRyrzt5G15", // Enter your Razorpay API key
    "amount": "{{ dt }}", // Amount should be in the smallest currency unit
    "currency": "INR",
    "name": "Express Logistics", // Replace with your business name
    "description": "Test Transaction",
    "image": "{% static 'images/logo.jpg' %}", // Replace with your business logo URL
    "order_id": "{{ razorpay_order_id }}", // Replace with your actual order ID
    "handler": function (response) {
        if (response.razorpay_payment_id) {
            // Payment was successful
            // displayPaymentSuccess();
			// redirectToThankYouPage();
			window.location.href = '{% url 'thankyou' %}';
        } else {
            // Payment failed
            displayPaymentFailure(response.error.description);
        }
    },
    "prefill": {
        "name": "Bincy Satheesh", // Replace with customer's name
        "email": "info@expresslogistics.com", // Replace with customer's email
        "contact": "9000090000", // Replace with customer's phone number
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc" // Replace with your preferred color
    }
};

var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function (e) {
    rzp1.open();
    e.preventDefault();
}

// function displayPaymentSuccess() {
    
//     alert("Payment Successful!");
   
// }
// function redirectToThankYouPage() {
   

// }

function displayPaymentFailure(errorMessage) {
   
    alert("Payment Failed: " + errorMessage);
    
}
function displayPaymentSuccess() {
    alert("Payment Successful!");
    // You can display a success message to the user here.
}

function redirectToThankYouPage() {
    // You can redirect the user to a thank you page after a successful payment.
    window.location.href = '{% url 'thankyou' %}';
}

var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function (e) {
    rzp1.open();
    e.preventDefault();
}

</script>


		
{% endblock %}

<!-- success@razorpay -->
